h1[align="center"]
  | Listing all advertising
= render 'result_type'
#blogpost-table
  - @advertisings.each do |advertising|
    .row
      .col-xs-8.col-xs-offset-2
        .well.well-lg
          .article-title
            = link_to advertising.title, advertising_path(advertising)
          .advertising-body
            = truncate(advertising.text, length: 100)
          .advertising-actions
            = link_to 'Show', advertising_path(advertising),class: 'btn btn-primary btn-xs'
div[align="center"]
  = will_paginate @advertising, renderer: WillPaginate::ActionView::BootstrapLinkRenderer
#search-results
