h2[align="center"]
  | Title:
  = @advertising.title
.well.col-xs-8.col-xs-offset-2
  p
    | Email:
    = @advertising.user.email
  p
    | Type:
    = get_name_of_type(@types, @advertising.advertisings_type_id)
  h4.center
    strong
      | Text:
  = @advertising.text
  hr
  .row[align="center"]
    - if @advertising.images.attached?
      strong
        | Images:
      br
      div
        - @advertising.images.each do |image|
          = image_tag(image)
          h2
            = link_to 'Remove', delete_image_attachment_advertising_url(image), method: :delete, data: { confirm: 'Are you sure?'}
  br
  = link_to 'Edit', edit_advertising_path(@advertising), class: 'btn btn-primary btn-xs'
  = link_to 'Back', advertisings_path, class: 'btn btn-primary btn-xs'
  = link_to 'Delete', advertising_path(@advertising), method: :delete, data: { confirm: "Are you sure you want to delete this article?"}, class: "btn btn-xs btn-danger"
  - if @advertising.status['draft'] && current_user.id == @advertising.user_id
    = button_to "send", update_ad_advertising_path(@advertising), :method => :put, class: 'btn btn-primary btn-xs'
